.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #F4F4F6 0% 0% no-repeat padding-box;
}
.login-form-container {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 12px;
    opacity: 1;
    padding: 1rem;
}

.login-form-container input {
    background: #EEF1F8 0% 0% no-repeat padding-box;
    border-radius: 8px;
    color: #7A7D7E;
    outline: none;
}

.login-form-label {
    color: #537178;
    font-size: 17px;
    font-weight: 600;
}

.login-button {
    background: #5285EC 0% 0% no-repeat padding-box;
    border-radius: 8px;
    border-color: #5285EC;
    font-size: 14px;
}